{% extends "PgGsbFraisBundle::accueil2.html.twig" %}
{% block menu %}



{{parent()}}
<div id="contenu">    
Visiteurs : 
            <form action="{{path('pg_gsb_frais_listeaffectation')}}">
              <select name="code">
              {% for visiteur in visiteurs %}
                <option value="{{visiteur.id}}">{{visiteur.id}}
               
              {% endfor %}
              </select>
              <input type="submit" value="Valider"/>
            </form>  
</div>
{% endblock %}
