{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block menu %}



{{parent()}}
<div id="contenu">    

  
            <select name="id">
            {% for visiteur in visiteurs %}
            <option value="{{visiteur.id}}">{{visiteur.id}}
            {% endfor %}</select>
</div>


     

{% endblock %}